@{
    ViewData["Title"] = "ContactCategory List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable




<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Contact Category List</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->




        <div class="portlet light bordered margin-top-10">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Country List</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a asp-area="MST_ContactCategory" asp-controller="MST_ContactCategory" asp-action="Add" class="btn green btn-rounded"><i class="fa fa-plus"></i>&nbsp;Add ContactCategory</a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="pull-right">
                    <div id="sample_1_filter" class="dataTables_filter">
                        <label>Search Any&nbsp;<input type="text" class="form-control input-sm input-small input-inline" id="sample_1"></label>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-header-fixed dataTable">
                    <thead>
                        <tr class="">
                            <th>Contact Category ID</th>

                            <th>Contact Category Name</th>
                            <th>Creation Date</th>
                            <th>Modification Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="sample_2">
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["ContactCategoryID"]</td>

                                <td>@dr["ContactCategoryName"]</td>

                                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                                <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>


                                <td class="text-center">
                                    <form method="post" asp-area="MST_ContactCategory" asp-controller="MST_ContactCategory" asp-action="Delete">
                                        <input type="hidden" name="ContactCategoryID" value="@Convert.ToInt32(dr["ContactCategoryID"])">
                                        <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete : @dr["ContactCategoryName"]');"><i class="fa fa-close"></i></button>
                                        <a class="btn btn-info btn-xs" asp-area="MST_ContactCategory" asp-controller="MST_ContactCategory" asp-action="Add" asp-route-contactcategoryid="@Convert.ToInt32(dr["ContactCategoryID"])"><i class="fa fa-pencil"></i></a>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <!-- END CONTENT BODY -->

</div>


<div class="clearfix"></div>


